body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.circle {
  display: flex;
  width: 35px;
  height: 35px;
  background-color: white;
  color: #00B7FF;
  border-radius: 50%;
  font-weight: bold;
  align-items:center;
  justify-content: center;
  margin-top: 5px;
  box-shadow: inset 0 1px 4px 0 rgba(32,33,36,0.28);
}

.content {
  display: flex;
}

.content p {
  padding-left: 10px;
  font-weight: bold;
  color: rgb(50, 50, 50);
}

.time {
  font-size: 10px;
  color: rgb(255, 255, 255);
}

.container {
  padding: 10px;
  margin: 10px 0;
  background-color: rgba(0, 175, 255, 0.5);
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 2px 8px 0 rgba(32,33,36,0.28);
}

.content2 {
  margin: 0 0 20px 45px;
  color: rgb(50, 50, 50);
}